{% extends "_base.html" %}
{% load leaflet_tags %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}

<form action="." method="post">
    {% csrf_token %}
    <label for="search">Search </label>
    <input type="search" id="search" name="location" value="{{ search }}">
</form>

<ul>
    {% for profile in profiles %}
    <li> {{ profile.user.username }} | {{ profile.experience_level }} | {{ profile.coordinate }}
        | {% if search %} {{ profile.distance.km|floatformat }} {% endif %} </li>
    {% endfor %}
</ul>

<br>

<!-- {% leaflet_map "map" %} -->

{{ tennis_courts|json_script:"tennis_courts" }}

{% endblock %}

{% block script %}
<script>
    function map_init_basic(map, options) {
        let tennis_courts = JSON.parse(document.getElementById("tennis_courts").textContent)
        tennis_courts.forEach(court => {
            L.marker([court.latitude, court.longitude], { title: court.name}).addTo(map)
        })
    }
</script>

<style>
    .leaflet-container {
        /* all maps */
        width: 600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }
</style>

{% leaflet_map "map" callback="window.map_init_basic" %}

{% endblock %}