{% extends "_base.html" %}
{% load leaflet_tags %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}

<form action="." method="post">
    {% csrf_token %}
    <label for="search">Search </label>
    <input type="search" id="search" name="location" value="{{ search }}">
</form>

<ul>
    {% for profile in profiles %}
    <li> {{ profile.user.username }} | {{ profile.experience_level }} | {{ profile.coordinate }}
        | {% if search %} {{ profile.distance.km|floatformat }} {% endif %} </li>
    {% endfor %}
</ul>

<br>

{{ tennis_courts|json_script:"tennis_courts" }}

{% endblock %}

{% block script %}
<script>
    function map_init_basic(map, options) {
        let tennis_courts = JSON.parse(document.getElementById("tennis_courts").textContent);
        var myIcon = L.icon({
            iconUrl: './static/images/tennis.svg',
            iconSize: [38, 95],
        });

        tennis_courts.forEach(court => {
            L.marker([court.latitude, court.longitude], { title: court.name, icon: myIcon }).bindPopup(`
                <p> ${court.name} </p><p>${court.address}</p>
            `).addTo(map)
        });

        navigator.geolocation.getCurrentPosition(success, error);

        function success(pos) {
            console.log(pos.coords);
            const circleRadius = 1300;
            const lat = pos.coords.latitude;
            const lng = pos.coords.longitude;
            const accuracy = pos.coords.accuracy;

            L.marker([lat, lng]).addTo(map);
            let circle = L.circle([lat, lng], { radius: circleRadius }).addTo(map);

            map.fitBounds(circle.getBounds());
        }

        function error(err) {
            if (err.code === 1) {
                alert("Please allow geolocation access");
            } else {
                alert("Cannot get current location");
            }
        }
    }
</script>

<style>
    .leaflet-container {
        /* all maps */
        width: 600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }
</style>

{% leaflet_map "map" callback="window.map_init_basic" %}

{% endblock %}