{% extends "_base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<form action="." method="post">
    {% csrf_token %}
    <label for="search">Search </label>
    <input type="search" id="search" name="location" value="{{ search }}">
</form>

<ul>
    {% for profile in profiles %}
    <li> {{ profile.user.username }} | {{ profile.experience_level }} | {{ profile.coordinate }}
        | {% if search %} {{ profile.distance.km|floatformat }} {% endif %} </li>
    {% endfor %}
</ul>

{% endblock %}